<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <%- include('../parts/nav') %>

    <% if (errors && errors.length > 0) { %>
      <ul style="color: red;">
        <% errors.forEach(function(error) { %>
          <li><%= error.msg || error %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action="/signup" method="POST">
      <div>
        <label for="userName">Username</label>
        <input
          type="text"
          id="userName"
          name="userName"
          value="<%= (oldInput && oldInput.userName) || '' %>"
          required
        />
      </div>

      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= (oldInput && oldInput.email) || '' %>"
          required
        />
      </div>

      <div>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          required
        />
      </div>

      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
      </div>

      <button type="submit">Create account</button>
    </form>

    <p>
      Already have an account?
      <a href="/signin">Sign in</a>
    </p>
  </body>
</html>