<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    create folder form here
    <form action="folder/create" method="post">
        <input type="text" name="folderName" placeholder="Folder Name" required />
        <label for="ispublic">Public</label>
        <input type="checkbox" name="ispublic" id="ispublic">
        <button type="submit">Create Folder</button>
    </form>
</body>
</html>